
{% extends 'base.html' %}
{% block content %}
<h2>Full Stack Development</h2>
<p>I honestly have no clue what I will do with this website. I wanted to provided training in
fullstack development but I don't think I'm interested in that at the moment.</p>

<p>It's possible I might write a book about it from a python perspective.<br>
Currently I'm working on the following books.</p>

<ul>
    <li>Rapid Swift Programming: This is neither IOS or Mac OS</li>
    <li>Rapid Swift UI: IOS and Mac OS with a bit of WebKit</li>
    <li>Rapid Goland:</li>
    <li>Rapid C++:</li>
<li>Time Management Book: Beat the Clock. This book is 80% complete. I wanted some time management
    applications to go with it.</li>
</ul>

    <p>You can find more information about me at:<br>
        <a href="https://www.github.com/thecount12">https://www.github.com/thecount12</a><br>
        <a href="http://www.RapidPythonProgramming.com">RapidPythonProgramming.com</a><br>
        <a href="http://www.RaspberryThinkTank.com">RaspberryThinkTank.com</a><br>
        <a href="http://www.madscott.org">madscott.org</a><br>
        <a href="https://linkedin.com/in/williamgunnells">linkedin.com/in/williamgunnells</a></p>
{% endblock %}
